.hero {
  background-color: var(--bg-color-dark);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  background-size: cover;
  text-align: center;
  padding: 0;
  
  &__container {
  display: flex;
  min-height: 600px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  }

  &__wrap {
  display: block;
  width: 696px;
  }

  &__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--secondary-accent-color);
  text-transform: uppercase;
  }

  &__button {
  padding: 10px 32px;
  }
}
